<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/style.css">

   <title>DiaacaStore</title>
</head>

<body>
   <!-- header / atasan -->
   <ul>
      <li><a href="/cari">Cek invoice</a></li>
      <li><a class="active" href="#cara">Cara </a></li>
      <li class="logos"><a>
            <h4>DiaacaStore</h4>
         </a></li>
   </ul>

   <!-- body atau isi konten -->
   <div class="container">
      <div class="conten">
      </div>  
      <!-- untuk isi pemilihan jual/beli -->
      
      <div class="cd">
         <div class="dd">
            <div class="d">
               <h1>Mobile Legends</h1>
            </div>
            <% for (let user of users) {%>
               <div class="wrapp">
                 
                  
                  <a class="link" href="/beli"><div class="btn">
                     <h3>beli</h3>
                   </div></a>
                  
                 
                  
               </div>
               <% } %>
         </div>
      </div>
      <!-- untuk isi pemilihan jual/beli blue gem lock-->
      <div class="c">
         <div class="dd">
            <div class="d">
               <h1>FreeFire</h1>
            </div>
            <% for (let user of users) {%>
               <div class="wrapp">
                 
                  
                  <a class="link" href="/beli"><div class="btn">
                     <h3>beli</h3>
                   </div></a>
                  
                 
                  
               </div>
               <% } %>
         </div>
      </div>
      <div class="ipsum" id="cara"><h1>Cara membeli di DiaacaStore</h1>
      <div class="syarat"></h1>

         <div class="cara"><p>masukan ID game</p></div>
         <div class="cara"><p>pencet beli</p></div>
   </div>
</div>


   </div>
   <div class="space"></div>
   <footer>
      <h4>COPYRIGHT BY AJI</h4>
   </footer>
</body>

</html>