    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>cek invoice</title>
    </head>
    <body>
        <form action="/cari" method="post"  placeholder="none">
            <input type="text" name="caris" id="cariss" required>
            <input type="submit" value="cek">
        </form>
    </body>
    </html>